*.iml
*.log
*.pcap
*.pyc
.DS_Store
.docker/
.env
.env.development
.env.local
.env.production
.idea/
.vscode/
Thumbs.db
__pycache__/
build/
dist/
docker-compose.override.yml
logs/
node_modules/
npm-debug.log*
out/
output/
pcaps/.env.local
venv/
yarn.lock
